In [33]:
# Import dependencies
import requests
from pymongo import MongoClient
import time
import json
import pandas as pd
from pprint import pprint

In [37]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# assign the met database to a variable name
db = mongo['kayak']

# assign the collection to a variable
flight_search = db['flight_search']

In [38]:
flight_search = list(flight_search.find({}))

In [39]:
# Create a data frame for flight search df
flight_search_df = pd.DataFrame(flight_search)

In [40]:
# Split the outbound_route to get destination IATA code 
flight_search_df[['outbound_airport', 'IATA']] = flight_search_df['outbound_route'].str.split('-', expand=True)

In [41]:
# Review flight search df types
flight_search_df.dtypes

_id                         object
trip_id                      int64
outbound_date               object
return_date                 object
outbound_departure_time     object
outbound_arrival_time       object
outbound_flight_duration    object
outbound_route              object
outbound_airline            object
return_departure_time       object
return_arrival_time         object
return_flight_duration      object
return_route                object
return_airline              object
price                       object
tier                        object
outbound_airport            object
IATA                        object
dtype: object

In [42]:
# Replace '+1' in all time columns
flight_search_df['outbound_departure_time'] = flight_search_df['outbound_departure_time'].str.replace('+1','')
flight_search_df['outbound_arrival_time'] = flight_search_df['outbound_arrival_time'].str.replace('+1','')
flight_search_df['return_departure_time'] = flight_search_df['return_departure_time'].str.replace('+1','')
flight_search_df['return_arrival_time'] = flight_search_df['return_arrival_time'].str.replace('+1','')

In [43]:
# Show the DataFrame
flight_search_df

,_id,trip_id,outbound_date,return_date,outbound_departure_time,outbound_arrival_time,outbound_flight_duration,outbound_route,outbound_airline,return_departure_time,return_arrival_time,return_flight_duration,return_route,return_airline,price,tier,outbound_airport,IATA
0,66625a1a41e0a51a5b39e3cf,0,2024-06-07,2024-06-10,10:19 am,1:14 pm,1h 55m,MCI-ATL,Delta,2:28 pm,3:30 pm,2h 02m,ATL-MCI,Delta,$777,Main Cabin,MCI,ATL
1,66625a1a41e0a51a5b39e3d0,1,2024-06-07,2024-06-10,7:44 pm,6:14 am,9h 30m,MCI-ATL,Frontier,9:29 am,8:59 pm,12h 30m,ATL-MCI,Frontier,$360,Economy,MCI,ATL
2,66625a1a41e0a51a5b39e3d1,2,2024-06-07,2024-06-10,10:19 am,1:14 pm,1h 55m,MCI-ATL,Delta,10:05 am,11:08 am,2h 03m,ATL-MCI,Delta,$777,Main Cabin,MCI,ATL
3,66625a1a41e0a51a5b39e3d2,3,2024-06-07,2024-06-10,10:19 am,1:14 pm,1h 55m,MCI-ATL,Delta,1:07 pm,2:10 pm,2h 03m,ATL-MCI,Delta,$777,Main Cabin,MCI,ATL
4,66625a1a41e0a51a5b39e3d3,4,2024-06-07,2024-06-10,10:19 am,1:14 pm,1h 55m,MCI-ATL,Delta,8:10 am,9:14 am,2h 04m,ATL-MCI,Delta,$777,Main Cabin,MCI,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,66625dbe41e0a51a5b39e4c5,11,2024-06-07,2024-06-10,7:30 pm,11:34 pm,3h 04m,MCI-BOS,Delta,1:07 pm,4:59 pm,4h 52m,BOS-MCI,Delta,$864,Main Cabin,MCI,BOS
247,66625dbe41e0a51a5b39e4c6,12,2024-06-07,2024-06-10,7:30 pm,11:34 pm,3h 04m,MCI-BOS,Delta,3:25 pm,8:55 pm,6h 30m,BOS-MCI,Delta,$699,Main Cabin,MCI,BOS
248,66625dbe41e0a51a5b39e4c7,13,2024-06-07,2024-06-10,10:20 am,3:55 pm,4h 35m,MCI-BOS,Delta,7:50 am,10:17 am,3h 27m,BOS-MCI,Delta,$864,Main Cabin,MCI,BOS
249,66625dbe41e0a51a5b39e4c8,14,2024-06-07,2024-06-10,7:30 pm,11:34 pm,3h 04m,MCI-BOS,Delta,3:00 pm,8:53 pm,6h 53m,BOS-MCI,Delta,$699,Main Cabin,MCI,BOS
250,66625dbe41e0a51a5b39e4c9,15,2024-06-07,2024-06-10,7:30 pm,11:34 pm,3h 04m,MCI-BOS,Delta,11:00 am,3:22 pm,5h 22m,BOS-MCI,Delta,$864,Main Cabin,MCI,BOS

In [30]:
# Export for collaboration purposes
flight_search_df.to_csv('../Output/flight_search.csv',index=False)